<div class="page-header">
	<h1>Welcome</h1>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis, ea vel sint, numquam maiores vero soluta atque molestias eos ipsa accusantium accusamus illo iure rem laboriosam deserunt, rerum. Iure!</p>
